<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206740748769-19jinn54vi0anpkb3n4ke30rlsfj1cnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206740748769-19jinn54vi0anpkb3n4ke30rlsfj1cnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAnzKZFdJKb2RsNHw_3rly8eJc6igIhDSU</string>
	<key>GCM_SENDER_ID</key>
	<string>206740748769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mvara.beats</string>
	<key>PROJECT_ID</key>
	<string>mvara-beats1</string>
	<key>STORAGE_BUCKET</key>
	<string>mvara-beats1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206740748769:ios:2639154ab98af2dea4faa0</string>
</dict>
</plist>